.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.flex-col-reverse{
  flex-direction: column-reverse
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-evenly{
  justify-content: space-evenly;
}

.grow-1{
  flex-grow: 1;
}