.p-0 {
	padding: 0px;
}
.p-px {
	padding: 1px;
}

.p-1 {
	padding: 0.25rem; /* 4px */
}

.p-2 {
	padding: 0.5rem; /* 8px */
}

.p-3 {
	padding: 0.75rem; /* 12px */
}

.p-4 {
	padding: 1rem; /* 16px */
}
.p-5 {
	padding: 1.25rem; /* 20px */
}
.p-6 {
	padding: 1.5rem; /* 24px */
}
.p-7 {
	padding: 1.75rem; /* 28px */
}
.p-8 {
	padding: 2rem; /* 32px */
}
.p-9 {
	padding: 2.25rem; /* 36px */
}
.p-10 {
	padding: 2.5rem; /* 40px */
}
.p-11 {
	padding: 2.75rem; /* 44px */
}
.p-12 {
	padding: 3rem; /* 48px */
}
.p-14 {
	padding: 3.5rem; /* 56px */
}
.p-16 {
	padding: 4rem; /* 64px */
}
.p-20 {
	padding: 5rem; /* 80px */
}
.p-24 {
	padding: 6rem; /* 96px */
}
.p-28 {
	padding: 7rem; /* 112px */
}
.p-32 {
	padding: 8rem; /* 128px */
}
.p-36 {
	padding: 9rem; /* 144px */
}
.p-40 {
	padding: 10rem; /* 160px */
}
.p-44 {
	padding: 11rem; /* 176px */
}
.p-48 {
	padding: 12rem; /* 192px */
}
.p-52 {
	padding: 13rem; /* 208px */
}
.p-56 {
	padding: 14rem; /* 224px */
}
.p-60 {
	padding: 15rem; /* 240px */
}
.p-64 {
	padding: 16rem; /* 256px */
}
.p-72 {
	padding: 18rem; /* 288px */
}
.p-80 {
	padding: 20rem; /* 320px */
}
.p-96 {
	padding: 24rem; /* 384px */
}
.p-auto {
	padding: auto;
}

.pl-0 {
	padding-left: 0px;
}
.pl-1 {
	padding-left: 0.25rem; /* 4px */
}
.pl-2 {
	padding-left: 0.5rem; /* 8px */
}
.pl-3 {
	padding-left: 0.75rem; /* 12px */
}
.pl-4 {
	padding-left: 1rem; /* 16px */
}
.pl-5 {
	padding-left: 1.25rem; /* 20px */
}
.pl-6 {
	padding-left: 1.5rem; /* 24px */
}
.pl-7 {
	padding-left: 1.75rem; /* 28px */
}
.pl-8 {
	padding-left: 2rem; /* 32px */
}
.pl-9 {
	padding-left: 2.25rem; /* 36px */
}
.pl-10 {
	padding-left: 2.5rem; /* 40px */
}
.pl-11 {
	padding-left: 2.75rem; /* 44px */
}
.pl-12 {
	padding-left: 3rem; /* 48px */
}
.pl-14 {
	padding-left: 3.5rem; /* 56px */
}
.pl-16 {
	padding-left: 4rem; /* 64px */
}

.pt-0 {
	padding-top: 0px;
}
.pt-1 {
	padding-top: 0.25rem; /* 4px */
}
.pt-2 {
	padding-top: 0.5rem; /* 8px */
}
.pt-3 {
	padding-top: 0.75rem; /* 12px */
}
.pt-4 {
	padding-top: 1rem; /* 16px */
}
.pt-5 {
	padding-top: 1.25rem; /* 20px */
}
.pt-6 {
	padding-top: 1.5rem; /* 24px */
}
.pt-7 {
	padding-top: 1.75rem; /* 28px */
}
.pt-8 {
	padding-top: 2rem; /* 32px */
}
.pt-9 {
	padding-top: 2.25rem; /* 36px */
}
.pt-10 {
	padding-top: 2.5rem; /* 40px */
}
.pt-11 {
	padding-top: 2.75rem; /* 44px */
}
.pt-12 {
	padding-top: 3rem; /* 48px */
}
.pt-14 {
	padding-top: 3.5rem; /* 56px */
}
.pt-16 {
	padding-top: 4rem; /* 64px */
}

.pr-0 {
	padding-right: 0px;
}
.pr-1 {
	padding-right: 0.25rem; /* 4px */
}
.pr-2 {
	padding-right: 0.5rem; /* 8px */
}
.pr-3 {
	padding-right: 0.75rem; /* 12px */
}
.pr-4 {
	padding-right: 1rem; /* 16px */
}
.pr-5 {
	padding-right: 1.25rem; /* 20px */
}
.pr-6 {
	padding-right: 1.5rem; /* 24px */
}
.pr-7 {
	padding-right: 1.75rem; /* 28px */
}
.pr-8 {
	padding-right: 2rem; /* 32px */
}
.pr-9 {
	padding-right: 2.25rem; /* 36px */
}
.pr-10 {
	padding-right: 2.5rem; /* 40px */
}
.pr-11 {
	padding-right: 2.75rem; /* 44px */
}
.pr-12 {
	padding-right: 3rem; /* 48px */
}
.pr-14 {
	padding-right: 3.5rem; /* 56px */
}
.pr-16 {
	padding-right: 4rem; /* 64px */
}

.pb-0 {
	padding-bottom: 0px;
}
.pb-1 {
	padding-bottom: 0.25rem; /* 4px */
}
.pb-2 {
	padding-bottom: 0.5rem; /* 8px */
}
.pb-3 {
	padding-bottom: 0.75rem; /* 12px */
}
.pb-4 {
	padding-bottom: 1rem; /* 16px */
}
.pb-5 {
	padding-bottom: 1.25rem; /* 20px */
}
.pb-6 {
	padding-bottom: 1.5rem; /* 24px */
}
.pb-7 {
	padding-bottom: 1.75rem; /* 28px */
}
.pb-8 {
	padding-bottom: 2rem; /* 32px */
}
.pb-9 {
	padding-bottom: 2.25rem; /* 36px */
}
.pb-10 {
	padding-bottom: 2.5rem; /* 40px */
}
.pb-11 {
	padding-bottom: 2.75rem; /* 44px */
}
.pb-12 {
	padding-bottom: 3rem; /* 48px */
}
.pb-14 {
	padding-bottom: 3.5rem; /* 56px */
}
.pb-16 {
	padding-bottom: 4rem; /* 64px */
}
